<h1>id: <%= @task.id %> のタスク詳細ページ</h1>

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <td><%= @task.id %></td>
    </tr>
    <tr>
        <th>タスク</th>
        <td><%= @task.content %></td>
    </tr>
    <tr>
        <th>ステータス</th>
        <td><%= @task.status %></td>
    </tr>
</table>

<%= link_to "タスクを編集", edit_task_path, class: "btn btn-light" %>
<%= link_to "タスクを削除",@task, method: :delete, class: "btn btn-danger", data: {confirm: "本当に削除してよろしいですか？"} %>