<h1>id: <%= @task.id %> のタスク詳細ページ</h1>

<p>タスク&nbsp;:&nbsp;<%= @task.content %></p>
<p>ステータス&nbsp;:&nbsp;<%= @task.status %></p>

<%= link_to "タスク一覧に戻る", tasks_path %>
<%= link_to "タスクを編集", edit_task_path %>
<%= link_to "タスクを削除",@task, method: :delete, data: {confirm: "本当に削除してよろしいですか？"} %>